.header{
  text-align: center;
  color: deepskyblue;
  border-bottom: 1px solid deepskyblue;

}

.blue{
  background-color: deepskyblue;
}

.center{
  align-content: center;
  align-items: center;
  content: center-content
}

.navcon{
  color: white;
}

.im-centered { margin: auto; max-width: 300px;}

.blue{
  color: deepskyblue;
}

.logo{
  position:relative;
  left:0px;
  width: 120px;
  height:120px;
  margin-top: 20px;
  //border:1px solid white;
  transform-origin:0% 0%;
  transform:rotate(0deg);
  //z-index:0;
  animation:pendulam .5s cubic-bezier(0,0,0,0) infinite alternate;

}
.logo:first-of-type{
  //transform:rotate(0deg);
  z-index:3;
}
.logo:last-of-type{
  //transform:rotate(0deg);
  z-index:3;
}

@Keyframes door {

  from{}
  to{transform:rotateY(0deg);
  z-index:0;}
}

/*To stop hanger form oscillating */

.logo:hover {
  animation:door .5s ease-in 0.5 both;
}


@Keyframes pendulam{

0% {transform:rotate(-5deg)}
10%{transform:rotate(-4deg)}
20%{transform:rotate(-3deg)}
30%{transform:rotate(-2deg)}
40%{transform:rotate(-1deg)}
50%{transform:rotate(0deg)}
60%{transform:rotate(1deg)}
70%{transform:rotate(2deg)}
80%{transform:rotate(3deg)}
90%{transform:rotate(4deg)}
100%{transform:rotate(5deg)}

}
